html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.ref {
    color: inherit;
}

.padx {
    padding-left: 100px;
    padding-right: 100px;
}

.padb {
    padding-bottom: 20px;
}

.padb2 {
    padding-bottom: 15px;
}

.pad_bot {
    padding-bottom: 80px;
}

.marx {
    margin: 15px;
}

.mar_bot {
    margin-bottom: 50px;
}

.card_style {
    width: 250px;
    height: 350px;
    margin: 10px;
    background-color: grey;
}

.card_style_2 {
    width: 150px;
    height: 250px;
    background-color: grey;
}

.card_img {
    width: 100%;
}

.img_size {
    object-fit: cover;
    max-width: 50%;
    max-height: 100%;
    display: block;
}