html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.padx {
    padding-left: 100px;
    padding-right: 100px;
}

.card_style {
    height: 350px;
}

.img_size {
    object-fit: cover;
    max-width: 50%;
    max-height: 100%;
    display: block;
}